:root {
    --color-circle: #fff566;
    --color-shadow: rgb(222 168 33 / 0.4);
    --color-glow: rgb(70 130 100 / 0.4);
    --background-image: url(/images/light-sky.jpg);
    --back-color: #c7cbcc;
}